#newList.modal.fade
  .modal-dialog(role='document')
    .modal-content
      .modal-header
          form(method='post', action=`/home/add_table`)
            .form-group
              label(for='table_name') Name Your New List
              input#listName.form-control(type='text',  placeholder='List Name', name='table_name', maxlength='24', value='')
            .form-group
              input#userId.form-control(type='text',  value=`${tables[0].id}`, name='user_id', maxlength='24')

            .modal-footer
              button.btn.btn-primary(type='submit') Save changes
      button.close(type='button', data-dismiss='modal', aria-label='Close') x
