.modal.fade
  .modal-dialog(role='document')
    .modal-content
      .modal-header
          form(method='post', action=`/add`)
            .form-group
              label(for='name') ToDO Item
              input#bookTitle.form-control(type='text',  placeholder='ToDo Name', name='name', maxlength='24')
            .form-group
              label(for='description') Description
              input.form-control(type='text', placeholder='What do you need to do?', name='description')
            .modal-footer    
              button.btn.btn-primary(type='submit') Save changes
      button.close(type='button', data-dismiss='modal', aria-label='Close') x
