form(method='post', action=`/add`)
    .form-group
      label(for='name') Book Title
      input#bookTitle.form-control(type='text',  placeholder='ToDo Name', name='name')
    .form-group
      label(for='description') Publish Date
      input#bookPublishDate.form-control(type='text', placeholder='What do you need to do?', name='description')
      small#fileHelp.form-text.text-muted
              | Copy and pase the URL so we can judge the book by its cover
      button.btn.btn-primary(type='submit') Save changes
