body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

modal {
  /*display: none;*/
}

.name {
  width: 200px;
}

.button {
  width: 100px;
}

.description {
  max-width: 500px;
}

.deletebutton {
  text-align: right;
}

#userId {
  display: none;
}
