body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

modal {
  /*display: none;*/
}

.name {
  width: 100px;

}

.description {
  max-width: 400px;
}

.deletebutton {
  text-align: right;
}

input {
  border: none;
}
